{% if site.data.skills %}
<section class="skills-section section" style="break-before: page;">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Vaardigheden</h2>

  <div class="skillset">

    {% for category in site.data.skills %}
    <section>
    <h3 class="subsection-title">{{ category.name }}</h3>
    {% for skill in category.skills %}
    <div class="item">

      <h4 class="level-title">{{ skill.name }}</h4>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}
    </section>
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
